body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: 70%;
  margin: auto;
}

.block__content p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.block__content h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0 20px;
}


@media (min-device-width: 350px) {
  .leaf {
    position: absolute;
    width: 140px;
    top: 80%;
    height: 200px;
    /* margin-top: -209px; */
  }

  .award {
    width: 40px;
    margin-left: 20px;
    position: absolute;
    height: 80px;
    margin-top: 10px;
  }

  .media-image {
    width: 400px;
    height: 300px;
  }

  .mainPage {
    background-image: url(../src/Assets/QUOTE\ OF\ THE\ DAY\ -\ Made\ with\ PosterMyWall\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .bayo {
    background: linear-gradient(
      to right,
      #1321db 0%,
      #9e4410 50%,
      #260303 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blog {
    background: #ff0000;
    background: radial-gradient(
      circle farthest-corner at center center,
      #ff0000 0%,
      #ffff00 25%,
      #05c1ff 50%,
      #ffff00 75%,
      #ff0000 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 768px) {
  .block__content p {
    font-size: 18px;
  }
}

@media (min-device-width: 1030px) {
  .mainPage {
    background-image: url(https://plus.unsplash.com/premium_photo-1667502842264-9cdcdac36086?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGVza3RvcCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .media-image {
    width: 850px;
    height: 400px;
  }

  .leaf {
    position: absolute;
    width: 140px;
    top: 60%;
    height: 250px;
  }

  .award {
    width: 40px;
    /* position: absolute; */
    left: 15px;
    margin-top: 10px;
  }
}
